* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #ff23ff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display the list items horizontally */
}

li {
    padding: 15px;
}

a {
    text-decoration: none;
    color: #fff; /* Link text color */
}