$colordarkest: #212121;
$colorlightest: #F2F2F2;
$orange: #c76744;
$lightblue: #5b95d4;
$darkblue: #253C59;


$font-stack: Arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}
body {
background-color: $colorlightest;
}

nav {
  background-color: $colordarkest;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    li {
      padding: 15px;
      &:hover {
      background-color: $orange;
    }
      a {
        text-decoration: none;
        color: $colorlightest;
      }
    }
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px;
  .button {
    background-color: $colordarkest;
    border: none;
    color: $colorlightest;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    &:hover {
      background-color: $orange;
      color: $colorlightest;
    }
  }
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 6% auto 0;
}

.single-card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 15px;
  transition: box-shadow 0.3s ease, transform 0.8s ease-in-out;
  overflow: hidden;
  background: $colordarkest;
  border-radius: 15px;

  &:hover {
    transform: translateY(-10px);
  }
}

.img-area {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $orange;
  opacity: 0;
  transition: opacity 0.3s ease;
  .single-card:hover & {
    opacity: 1;
  }
}

.add-to-cart, .view-details {
  background-color: $colorlightest;
  color: $colordarkest;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  margin-bottom: 10px;
  &:hover {
    background-color: $lightblue;
    color: $colorlightest;
    border: none;
  }
}

.info {
  padding: 10px;
  text-align: center;
  color: $colorlightest;
  h3 {
    margin: 15px 0 10px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
  }
  .price {
    margin: 0;
    font-size: 30px;
    color: $lightblue;
  }
}











